@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: hsl(27, 66%, 92%);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;

}
